<template>
  <div>
    <b-col cols="4">
      <b-img :src="require('@/assets/logo.png')" alt="Image 1" width="200" height="auto"></b-img>
    </b-col>
    <b-col>
      <b-img :src="require('@/assets/vuex.svg')" alt="Image 2" width="200" height="auto"></b-img>
    </b-col>
  </div>
</template>
<script>
export default {
  
}
</script>