<template>
    <b-container>
        <b-row align-h="center" class="mb-3">
            <b-col cols="4" md="4">
                <b-img :src="require('@/assets/logo.png')" alt="Image 1" width="150" height="auto"></b-img>
            </b-col>
            <b-col cols="4" md="4">
                <b-img :src="require('@/assets/vuex.svg')" alt="Image 2" width="150" height="auto"></b-img>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" md="8">
                <slot name="product-list"></slot>
            </b-col>
            <b-col cols="12" md="4">
                <slot name="cart"></slot>
            </b-col>
        </b-row>
    </b-container>
</template>
